<%= form_with(model: chat_room, local: true) do |form| %>
  <% if chat_room.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(room.errors.count, "error") %> prohibited this room from being saved:</h2>

      <ul>
        <% chat_room.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group mb-3">
    <%= form.label "Add a new room" %>
    <%= form.text_field :title, class: 'form-control', placeholder: "Room name" %>
  </div>

  <%= form.submit "Add", class: "btn btn-outline-primary btn-block" %>
<% end %>
