<div id="chat_room-id" data-chat_room-id="<%= @chat_room.try(:id) %>"></div>
<div id="user-id" data-user-id="<%= current_user.id %>"></div>

<div class="container bg-light-primary text-center my-5 ">
            <h2><%= @chat_room.title %> </h2>
            <p class="text-right"> <%= link_to 'Retour', chat_rooms_path %> </p>
      <div class="chat-room">
        <div class="container-chat">
          <% @chat_room.messages.each do |message| %>
            <%= render partial: 'messages/newmessage', locals: {message: message} %>
          <% end %>
          <div id="messages">
            <% @chat_room.messages.each do |message| %>
              <%= render partial: 'messages/message', locals: {message: message} %>
            <% end %>
          </div>
        </div>
        <div class="chat-box mb-2">
          <%= render 'messages/form', message: @message, chat_room: @chat_room %>
        </div>
      </div>
  </div>
</div>
