<% if current_user.id != @user.id %>
  <!--Profil of an user-->
  <%= render partial: 'user_profil'%>

<% else %>
  <!--Current_user dashboard-->

<!-- Nav tabs -->
<ul class="nav nav-tabs justify-content-center" id="myTab" role="tablist">
  <li class="nav-item" role="presentation">
    <button class="nav-link text-primary active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab" aria-controls="home" aria-selected="true">Profil</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link text-primary" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button" role="tab" aria-controls="profile" aria-selected="false">Annonces</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link text-primary" id="favorites-tab" data-bs-toggle="tab" data-bs-target="#favorites" type="button" role="tab" aria-controls="favorites" aria-selected="false">Favoris</button>
  </li>
    <li class="nav-item" role="presentation">
    <button class="nav-link text-primary" id="appointment-tab" data-bs-toggle="tab" data-bs-target="#appointment" type="button" role="tab" aria-controls="appointment" aria-selected="false">Rendez-vous</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link text-primary" id="messages-tab" data-bs-toggle="tab" data-bs-target="#messages" type="button" role="tab" aria-controls="messages" aria-selected="false">Messages</button>
  </li>
</ul>

<!-- Tab panes -->
  <div class="container">

<div class="tab-content mt-3">
  <div class="tab-pane active" id="home" role="tabpanel" aria-labelledby="home-tab">
        <%= render partial: 'current_user_profil'%>
  </div>
  <div class="tab-pane" id="profile" role="tabpanel" aria-labelledby="profile-tab">
        <%= render partial: 'ad'%>
  </div>
  <div class="tab-pane" id="favorites" role="tabpanel" aria-labelledby="favorites-tab">
        <%= render partial: 'favorite'%>
  </div>
  <div class="tab-pane" id="appointment" role="tabpanel" aria-labelledby="appointment-tab">
      <%= render partial: 'appointment'%>
  </div>
  <div class="tab-pane" id="messages" role="tabpanel" aria-labelledby="messages-tab">
  <%= render partial: 'chat_room'%> 
    </div>
  </div>
  </div>

<% end %>


