<!DOCTYPE html>
<html>
  <head>
    <!--Bootwatch-->    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">

    <!--Favicon-->
    <%= favicon_link_tag asset_path('favicon.ico') %>

    <title>CoupDePousse</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <% if content_for? :nav %>
      <%= content_for :nav %>
    <% else %>
      <%= render 'layouts/nav' %>
    <% end %>

    <%= render 'layouts/flash'%>
    <%= yield %>
    <%= render 'layouts/footer' %>

  </body>
</html>
